body{
width: 700px;
margin: 0 auto;

background-color: #83a17157;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #83a17157;
    border-radius: 10px;
}

.logo img{
    height: 100px;
    width: 100px;

}