@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

body {
  width: 90%;
  margin: 0 auto;

  background-color: #eff3ec57;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #ffffff57;
  border-radius: 1px;
  margin-top: 20px; 
  border: 2px solid #82171b;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
} 

.aviso{
background-color: #eceeea57;
border-radius: 10px;  
margin-left: 70%;
font-family: 'Comfortaa';
text-align: center;
margin-top: 10px;
border: 2px solid #82171b;
font-size: 12px;

}

.patatas{
  display: flex;
  justify-content: space-between;
  font-family: 'Comfortaa';
  gap: 60px;
  margin-top: 20px;
  
  padding: 10px;
}


.opciones ul {
  display: flex;
 
  flex-direction: row;
}
.nav-links {
  margin-left: -8%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/*flex-wrap: wrap; para que las opciones se ajusten a la pantalla en dispositivos móviles*/
#carta{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;

}

.opciones li{
list-style: none;
color: #82171b;
text-decoration: none;
}


.opciones li a {
  color: #82171b;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.opciones li a:hover{
  padding: 5px;
  border-radius: 10px;
  color: rgb(255, 196, 0);
  background-color: #82171b;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.logo img {
  height: 200px;
  width: 200px;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  margin-top: -50px;
  margin-bottom: -50px;

}
footer img{
  width: 50px;
  height: auto;

}
footer {
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.info_burguer h3 {
  text-align: center;

}

.imagen_burguer {
  display: flex;
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 9px 9px 0 0;
}

.imagen_burguer img:not(.imagen-fondo) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  width: auto;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;




}

.imagen-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;

}

.imagenEncima {
  position: absolute;
  transform: translate(-50%, -50%);


  z-index: 2;

  width: 300px;
  height: auto;
}



.tarjeta_burguer {
  width: 320px;
  margin: 0;
  font-family: 'Comfortaa';
  display: flex;
  border: 2px solid #82171b;
  border-radius: 1px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
}

.precio {
  font-weight: bold;
  color: #82171b;
}